.nav {
  border: 1px solid rgb(194, 194, 194);
  background-color: #f7f8f8;
}
#left_arrow_a {
  text-decoration: none;
  color: black;
}
.fa-arrow-left {
  font-size: 20px;
  padding: 20px;
}
.black_olx_logo {
  width: 50px;
  height: 40px;
  margin-top: 10px;
}
.form_container {
  border: 1px solid black;
}

.input_Upspan {
  font-size: 14px;
}
.input_Btmspan {
  font-size: 12px;
}
.input_width {
  width: 100%;
  /* font-size: 20px; */
  height: 50px;
}
.submit_btn {
  background-color: #092f35;
  color: white;
  width: 120px;
  padding: 10px;
  font-weight: bolder;
  border: none;
}
